~with define-submode txt
    fc=72
    paragraphs=^$
    sections=^[-=]\\+$
~endwith

~with define-submode py
    ts=4
~endwith

~with define-submode rb
    sw=2
~endwith

~with define-submode make
    mode-pathname 'debian/rules'
    ts=8
    sw=8
    tabinsert
~endwith

~with define-submode js
    ts=4
~endwith
